sudo: required
services:
  - docker
before_install:
  - docker build -t amanpreet9391/react-test -f ./client/Dockerfile.dev  ./client
script:
  - docker run amanpreet9391/react-test npm run test -- --coverage
after_success:
  - docker build -t amanpreet9391/multi-client ./client
  - docker build -t amanpreet9391/multi-nginx  ./nginx
  - docker build -t amanpreet9391/multi-server ./server
  - docker build -t amanpreet9391/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push amanpreet9391/multi-client 
  - docker push amanpreet9391/multi-nginx
  - docker push amanpreet9391/multi-server
  - docker push amanpreet9391/multi-worker